body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

nav {
    color: #fff;
    padding: 10px;
    margin: 0;
    border: 1px solid #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    caption-side: top;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ffaf47;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e8e8e8;
}

img {
    border-radius: 4px;
    margin-right: 10px;
}
